@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

.test {
	width: 100%; 
	position: relative;
	overflow: hidden;
	height: 0;
	padding-top: 56.25%;
}

.test img {
	display: block;
	width: 100%;
	position: absolute; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}
.spacer {
	height: 1200px;
}

