@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

html {
	background: #030303;
	text-align: center;
	color: #666;
}

h1 { padding: 2em; }
.spacer { padding: 6em 0; }

a:link, a:visited { color: dodgerblue; }
a:hover { color: skyblue; }
a:active { color: white }
